@media (max-width: 94.2rem) {
    .nav__big__left {
        overflow: scroll;
    }

    .page__mask {
        position: fixed;
        z-index: 1001;
        top: 3.14rem;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        pointer-events: none;
    }

    .page__mask.active {
        pointer-events: fill;
        opacity: .3;
    }

    .page__mask.active body {
        overflow: hidden !important;
    }
}

.nav__left, .nav__big__left {
    opacity: 0;
    display: none;
}

@media (max-width: 84.78rem) {
    .name {
        top: 3.5rem !important;
    }

    header {
        margin: calc(1.3rem) auto !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    .header_img--2 {
        display: none;
    }

    .header_img--1 {
        margin: 1.884rem;
        width: 100%;
    }

    .nav__big__left {
        display: block;
        opacity: 1;
    }

    .sidebar--left {
        display: none;
    }

    .nav {
        width: 100%;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 3.14rem;
        background-color: #fff;
        box-shadow: 0 0 0.314rem 0 #000;
    }

    .nav__big__left {
        display: block !important;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        width: 18.84rem;
        height: 100%;
        background-color: #ebebeb;
        box-shadow: 0 0 0.314rem 0 #000;
        -webkit-transform: translateX(-18.84rem);
        transform: translateX(-18.84rem);
        transition: -webkit-transform .1s ease-in-out;
        transition: transform .1s ease-in-out;
        transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
    }

    .nav__big__left .l_f_i {
        box-shadow: 0 0.314rem 0.314rem #c2c2c2;
    }

    .nav__big__left.active {
        -webkit-transform: translateX(0rem);
        transform: translateX(0rem);
    }

    .nav__left {
        opacity: 1;
        display: block !important;
    }

    .nav__left span {
        text-align: center;
        height: 0.1884rem;
        width: 1.884rem;
        background-color: #000;
        position: absolute;
        right: 3.14rem;
        top: 0.7536rem;
        transition: -webkit-transform .1s linear;
        transition: transform .1s linear;
        transition: transform .1s linear, -webkit-transform .1s linear;
    }

    .nav__left span:first-child {
        top: 1.3816rem;
    }

    .nav__left span:nth-child(2) {
        top: 2.0096rem;
    }

    .nav__left:hover span {
        -webkit-transform: rotate(-45deg) translate(0.628rem, -0.314rem);
        transform: rotate(-45deg) translate(0.628rem, -0.314rem);
    }

    .nav__left:hover span:first-child {
        opacity: 0;
    }

    .nav__left:hover span:last-child {
        -webkit-transform: rotate(45deg) translate(0.628rem, 0.2512rem);
        transform: rotate(45deg) translate(0.628rem, 0.2512rem);
    }
}

@media (max-width: 69.08rem) {
    .header_img--1 {
        width: 100% !important;
        margin: auto;
    }

    .section24 {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@media (max-width: 56.52rem) {
    .name {
        font-size: 1rem;
    }

    body {
        font-size: .8em !important;
    }

    .gradient-text {
        font-size: 3em !important;
    }
}

@media (max-width: 50.24rem) {
    .name {
        top: .7rem;
        left: 2rem;
    }

    .sidebar--right {
        display: none;
    }

    .link__first--media {
        opacity: 1 !important;
    }
}

@media (max-width: 40.82rem) {
    .section24 {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        padding: 0 0 2.082rem !important;
    }

    .name {
        top: 2.7rem !important;
        left: 1.768rem !important;
        font-size: .99em !important;
    }

    .header_img--1 {
        margin: 5% auto !important;
    }

    .img__index {
        width: 90% !important;
    }
}

@media (max-width: 37.68rem) {
    .img__index {
        width: 70% !important;
    }

    header {
        margin-bottom: .8em !important;
    }

    h1 {
        font-size: 1.7em !important;
        margin-bottom: .3rem !important;
    }

    .inner img {
        width: 80% !important;
    }
}

@media (max-width: 34.54rem) {
    header {
        width: 111% !important;
        overflow: hidden;
        margin: 5% -5% !important;
        max-height: 79% !important;
        height: 100% !important;
    }

    h1 {
        font-size: 1.7em !important;
    }

    .img__index {
        width: 50% !important;
    }

    .sidebarPage__inner__img img {
        width: 90% !important;
    }
}

@media (max-width: 28.26rem) {
    .name {
        top: 2.7rem !important;
        left: 1.3rem !important;
        font-size: 1.5em !important;
    }

    .inner {
        padding: 1.256rem 0 0 !important;
    }

    .section24 {
        -webkit-transform: scale(0.5) !important;
        transform: scale(0.5) !important;
    }

    .header_img--1 {
        margin: 7% -5% auto !important;
        width: 200% !important;
    }

    .gradient-text {
        font-size: 2.5em !important;
    }
}

@media (max-width: 21.98rem) {
    .name {
        top: 3rem !important;
    }

    .gradient-text {
        font-size: 2.2em !important;
    }

    .section24 {
        -webkit-transform: scale(0.45) !important;
        transform: scale(0.45) !important;
    }
}

button {
    background-color: transparent;
    border: transparent;
}

.history__title {
    text-align: center;
}

.gradient-text {
    font-size: 3.14rem;
    text-transform: uppercase;
  /* Create the gradient. */
    background: linear-gradient(-90deg, #833ab4 0%, #ff2626 25%, #833ab4 50%, #ff2626 75%, #833ab4 100%);
  /* Set the background size and repeat properties. */
    background-size: 150% 150%;
    background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow-text-simple-animation-rev 2s linear infinite;
    animation: rainbow-text-simple-animation-rev 2s linear infinite;
}

@-webkit-keyframes rainbow-text-simple-animation-rev {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    75% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    75% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background-color: white;
    font-size: 0.8164rem;
    font-family: verdana,arial,helvetica;
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 0 !important;
    font-size: 1.57rem;
    font-weight: 600;
}

h2 {
    text-shadow: 0.0628rem 0.0628rem black;
    font-weight: 400;
    font-size: 1.256rem;
}

ul, li {
    list-style: none !important;
}

img {
    display: block;
    width: 100%;
}

header {
    position: relative;
    max-width: 69.08rem;
    width: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
}

.name {
    position: absolute;
    top: 1.256rem;
    left: 3.768rem;
}

.container {
    position: relative;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container--flex {
    display: -ms-flexbox;
    display: flex;
}

.header_img {
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 1.256rem;
}

.header_img--1 {
    width: 64.3072rem;
}

.header_img--2 {
    width: 12.84rem;
}

/* section24 */
.section24 {
    padding: 3.14rem 0 4.082rem;
    min-height: 45vh;
    box-sizing: border-box;
    background-color: #fff;
}

.section24__inner {
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.images__box2 {
    position: relative;
    width: 14.84rem;
    height: 9.84rem;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(250rem) rotateY(0deg);
    transform: perspective(250rem) rotateY(0deg);
}

.img__3d-t {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(calc(var(--t) * 45deg)) translateZ(20rem);
    transform: rotateY(calc(var(--t) * 45deg)) translateZ(20rem);
}

.img__3d-t img {
    height: 8.56rem !important;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #000);
    width: 100% !important;
}

.images__box2__text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-perspective-origin: center;
    perspective-origin: center;
    color: #ffe0e0;
    text-shadow: 0.314rem 0.314rem #ff0808;
    font-weight: 600;
    font-size: 3.14rem;
    text-transform: uppercase;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.style__img {
    width: 50%;
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.style__img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.style__img img:nth-child(1) {
    -webkit-filter: grayscale(1) contrast(5);
    filter: grayscale(1) contrast(5);
    transition: all .1s linear;
}

.style__img img:nth-child(2) {
    -webkit-filter: grayscale(1) contrast(1) brightness(0.5);
    filter: grayscale(1) contrast(1) brightness(0.5);
    mix-blend-mode: hard-light;
    transition: all .5s linear;
}

.style__img img:hover {
    -webkit-filter: none !important;
    filter: none !important;
    mix-blend-mode: unset !important;
}

.sidebar {
    left: 0;
    padding: 0.314rem;
    min-width: 14.444rem;
    max-height: 100%;
    height: 100%;
    color: #7d7d7d;
}

.sidebar--right {
    width: 25.12rem;
}

.r_f_i {
    text-align: left !important;
    border-radius: 5%;
}

.r_f_i__inner {
    padding: 0.4396rem;
}

.r_f_i__right img {
    margin-top: 0.314rem;
}

.r_f_i__title {
    font-weight: 700;
}

.r_f_i__text {
    text-transform: none;
    padding-top: 0.628rem;
    font-size: 0.7536rem;
}

.r_f_i__date {
    padding-left: .5rem;
}

.link__first {
    width: 100%;
    padding-left: 0 !important;
}

.link__first--media {
    border-top: 0.0628rem dashed #000;
    border-bottom: 0.0628rem solid #000;
    padding: 0.628rem 0;
    opacity: 0;
    margin: 1.256rem 0;
}

.l_f_i {
    cursor: pointer;
    margin-bottom: 0.314rem;
    box-shadow: 0.4396rem 0.314rem 0.314rem #c2c2c2;
    font-size: 0.8478rem;
    text-transform: uppercase;
    font-weight: normal;
    border: 0.0628rem solid #DDDDDD;
    background: linear-gradient(0deg, #c7c7c7 0%, #e9e9e9 100%);
    text-align: center;
    padding: 0.3768rem 0.314rem;
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear;
}

.l_f_i a {
    color: #7d7d7d;
    text-decoration: none;
}

.l_f_i:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.l_f_i:hover a {
    text-decoration: underline;
    color: black;
}

.l_f_i.active a {
    color: #000 !important;
    font-weight: 600;
}

.inner {
    padding: 1.256rem 1.884rem 0;
    width: 100%;
    height: 100%;
}

.inner p {
    text-align: left;
}

.inner img {
    display: inline !important;
    margin: 0.628rem 0 0.942rem;
    width: 31.4rem;
}

.inner__title {
    text-align: center;
}

.inner__subtitle {
    text-align: left;
}

.sidebarPage__inner {
    text-align: left;
}

.sidebarPage__inner p {
    text-indent: 1rem;
}

.sidebarPage__inner__img {
    text-align: center;
}

.sidebarPage__inner__img img {
    margin: 5 0.0628rem auto;
}

.sidebarPage__title {
    max-width: 80%;
    margin: 0 auto;
}

footer {
    margin-top: 3.14rem;
    border-top: 0.1884rem solid #000;
    padding: 0.314rem;
    text-align: center;
}
