<div class="sidebar sidebar--left">
  <ul class="link__first link__first--left">
    <li class="l_f_i active"><a href="index.html">Главная</a></li>
    <li class="l_f_i"><a href="index2.html">Вторая страница</a></li>
    <li class="l_f_i"><a href="">Главная</a></li>
    <li class="l_f_i"><a href="">Главная</a></li>
    <li class="l_f_i"><a href="">Главная</a></li>
  </ul>

</div>

<div class="nav__big__left">
  <img class="nav__img" src="assets/images/WQq5OZeI5W0.jpg" alt="">
  <li class="l_f_i active"><a href="index.html">Главная</a></li>
  <li class="l_f_i"><a href="index2.html">Вторая страница</a></li>
  <li class="l_f_i"><a href="">Главная</a></li>
  <li class="l_f_i"><a href="">Главная</a></li>
  <li class="l_f_i"><a href="">Главная</a></li>

  <ul class="link__first link__first--media">
    <li class="r_f_i"><a href="index3.html">
      <div class="r_f_i__inner">
        <div class="r_f_i__left">
          <div class="r_f_i__title">Взрыв на празднике. Как фашисты сбросили бомбу на играющих детей</div>
          <div class="r_f_i__text">Раскатистый рёв над головами, через считанные мгновенья - глубокая воронка на месте, где только что играли...</div>
        </div>
        <div class="r_f_i__right">
          <img src="https://aif-s3.aif.ru/images/011/891/02e21f22e288c8e07dab5e36213ea53c.jpg" alt="">
        </div>
      </div>
      <div class="r_f_i__date">17.03.1032</div>
      
    </a></li>
  </ul>
</div>